.O_GalleryWorks {
  display: flex;
  flex-direction: column;
  padding-inline: 5%;
  box-sizing: border-box;
  width: 100%;
  min-width: var(--min-width);
  max-width: var(--max-width);
  margin: auto;
  align-items: flex-start;
  gap: var(--size-spacing-96);
  margin-top: var(--size-spacing-96);
  height: min-content;

  .C_GalleryWorks {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--size-spacing-88);
    align-self: stretch;

    .W_GalleryWork {
      display: none;
      width: 100%;
      min-width: 0;
      max-width: none;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--size-spacing-20);

      .M_GalleryWorkDescription {
        display: flex;
        align-items: flex-start;
        flex: 1 0 0;

        /* U_FontC2 */
        color: var(--colors-light-900-dark-50);
      }

      .A_GalleryWorkPreview {
        display: flex;
        overflow: hidden;
        width: 100%;
        align-self: stretch;
        aspect-ratio: 1/1;
        border-radius: var(--size-radius-4);
        border: 1px solid var(--colors-neutrals-200);
        /* transition: transform 0.3s ease, opacity 0.3s ease; */
        will-change: transform;
        transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
          opacity 0.2s ease;

        .A_GalleryWorkPreviewImg,
        .A_GalleryWorkPreviewVideo {
          display: none;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .A_GalleryWorkName {
        display: flex;
        align-items: flex-start;
        align-self: stretch;

        /* U_FontH2 */
        color: var(--colors-light-900-dark-50);
      }
    }

    .W_GalleryWork--Hide {
      display: none;
    }
  }

  .W_GalleryScrollBar {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: var(--size-spacing-16);
    height: var(--size-spacing-40);
    align-self: center;

    .C_GalleryScrollBarNumbers {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--size-spacing-8);

      .A_GalleryScrollBarNumber {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--size-spacing-40);
        width: var(--size-spacing-40);
        border-radius: var(--size-radius-inf);

        color: var(--colors-neutrals-450);

        &.is-current {
          border: var(--size-spacing-1-5) dashed var(--colors-light-900-dark-50);

          /* U_FontC2 */
          color: var(--colors-light-900-dark-50);
        }
      }
    }

    .A_GalleryScrollBarArrows {
      display: flex;
      height: 100%;
      color: var(--colors-light-900-dark-50);
      align-items: center;
      font-family: var(--font-JetBrains);
      font-size: var(--size-spacing-24);
      font-style: normal;
      font-weight: 200;
      line-height: 130%;

      &.is-disabled {
        color: var(--colors-neutrals-450);
      }
    }
  }

  .W_GalleryWorksNoResults {
    display: none;
    margin-top: 0;
    padding-block: var(--size-spacing-56);
    padding-inline: 0;
  }

  &.is-show-no-results {
    margin-top: 0;

    .C_GalleryWorks {
      display: none;
    }

    .W_GalleryWorksNoResults {
      display: flex;
    }

    .W_GalleryScrollBar {
      display: none;
    }
  }
}

.A_GalleryWorkPreview:hover {
  opacity: 0.97;
  transform: scale(1.03);
  box-shadow: none;
}

.A_GalleryWorkPreview:active {
  opacity: 1;
  transform: scale(0.95);
  box-shadow: none;
}

/* m 4 -> 3 */
@media (max-width: 1368px) {
  .O_GalleryWorks {
    .C_GalleryWorks {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      column-gap: var(--size-spacing-36);
    }
  }
}

/* m 3 -> 2 */
@media (max-width: 1152px) {
  .O_GalleryWorks {
    margin-top: var(--size-spacing-72);

    .C_GalleryWorks {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: var(--size-spacing-20);
      row-gap: var(--size-spacing-72);
    }
  }

  .O_GalleryWorks {
    gap: var(--size-spacing-72);
  }
}

/* m 2 -> 1 */
@media (max-width: 904px) {
}

/* m 1 -> 0 */
@media (max-width: 428px) {
  .O_GalleryWorks {
    margin-top: var(--size-spacing-64);
    gap: var(--size-spacing-64);

    .C_GalleryWorks {
      grid-template-columns: 1fr;
    }
  }
}