.S_MainHandbook {
    
    .O_HandbookIntroScreen {
        .M_HandbookIntroHeading {}

        .W_HandbookIntroHandbookFooter {
            display: flex;
            flex-direction: row;

            .A_HandbookIntroHandbookAbout {}

            .O_HandbookIntroAddTutorAndShare {
                white-space: nowrap;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: var(--size-radius-0);
                border: 1px solid var(--colors-neutrals-900);
                background: var(--colors-neutrals-body-01);
                backdrop-filter: blur(25px);
                display: inline-block;

                /* TODO
                stop-point */
            }
        }

        .C_HandbookIntroRainSquares {}
    }
}


/* m 4 -> 3 */
@media (max-width: 1368px) {}

/* m 3 -> 2 */
@media (max-width: 1152px) {

    /* H0 -> H1 */
    .U_FontH0 {
        font-size: 4rem;
        letter-spacing: -0.14rem;
    }

    /* S1 -> B1 */
    .U_FontS1 {
        font-size: 1.125rem;
        line-height: 150%;
        letter-spacing: 0;
    }

}

/* m 2 -> 1 */
@media (max-width: 834px) {

    /* H0 (H1) -> H1-mob TODO */
    .U_FontH0 {
        font-size: 3.5rem;
        letter-spacing: -0.175rem;
    }

    /* S1 (B1) -> S1 */
    .U_FontS1 {
        font-size: 1.5rem;
        line-height: 130%;
        letter-spacing: -0.0375rem;
    }
}