.O_Sandbox {
    display: flex;
    flex-direction: column;
    padding-inline: 5%;
    box-sizing: border-box;
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: auto;
    padding-block: var(--size-spacing-56);
    gap: var(--size-spacing-20);
    align-self: stretch;
    margin-top: var(--size-spacing-0);

    .W_SandboxHeading {
        display: flex;
        align-items: flex-start;
        align-self: stretch;

        color: var(--colors-neutrals-450);
    }
}

/* m 2 -> 1 */
@media (max-width: 904px) {
    .O_Sandbox {
        padding-block: var(--size-spacing-20);
        padding-inline: 4%;
    }
}