.S_Tutorial {
    position: relative;

    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: flex-start;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: auto;
    width: 100%;
    background-color: var(--colors-neutrals-body);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 100%;

        background:
            linear-gradient(0deg,
                var(--colors-brand-rainbow-subtrate)),
            linear-gradient(180deg,
                var(--colors-brand-rainbow));

        filter: saturate(1.2) brightness(1.05);
        pointer-events: none;
    }

    .O_TutorialNavigation {
        position: sticky;
        top: var(--size-spacing-92);
        align-self: flex-start;

        display: flex;
        flex-direction: column;
        min-width: 0;
        box-sizing: border-box;
        width: 24%;
        padding-top: var(--size-spacing-56);
        padding-bottom: var(--size-spacing-96);
        padding-inline: 5%;
        row-gap: var(--size-spacing-56);
        justify-content: space-between;
        align-items: flex-start;

        .W_TutorialNavigationPage,
        .W_TutorialNavigationPart {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: var(--size-spacing-16);
        }

        .W_TutorialNavigationPage .A_TutorialNavigationTitle {
            color: var(--colors-neutrals-900);
        }

        .W_TutorialNavigationPart .A_TutorialNavigationTitle {
            color: var(--colors-neutrals-450);
        }

        .W_TutorialNavigationPage {
            .C_TutorialNavigationPageList {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--size-spacing-4);
                align-self: stretch;

                border-left: var(--size-spacing-1-5) dashed var(--colors-neutrals-450);

                li {
                    width: 100%;
                    list-style: none;
                }

                .A_TutorialNavigationPageLink {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    box-sizing: border-box;
                    padding: var(--size-spacing-2) var(--size-spacing-12);

                    color: var(--colors-neutrals-900);
                    border-left: var(--size-spacing-1-5) solid transparent;
                    background: transparent;

                    transition:
                        color 0.15s ease,
                        background 0.15s ease,
                        border-color 0.15s ease;
                }

                .A_TutorialNavigationPageLink.is-current {
                    color: var(--colors-neutrals-900);
                    background: var(--colors-neutrals-150-60);
                    /* border-left: var(--size-spacing-1-5) solid var(--colors-neutrals-900); */
                }
            }
        }

        .W_TutorialNavigationPart {
            align-self: stretch;

            .C_TutorialNavigationModules {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--size-spacing-12);

                border-left: var(--size-spacing-1-5) dashed var(--colors-neutrals-450);

                .W_TutorialNavigationModule {
                    display: flex;
                    padding-left: var(--size-spacing-16);
                    flex-direction: column;
                    align-items: flex-start;
                    gap: var(--size-spacing-8);
                    align-self: stretch;

                    .A_TutorialNavigationModuleTitle {
                        color: var(--colors-neutrals-450);
                    }

                    /* TODO хз поч тут пустое, потом разобраться от чего вообще такое состояние аппендиксом появилось, скорее всего это от nav*/
                    /* .A_TutorialNavigationModuleTitle.is-current {} */

                    .C_TutorialNavigationTutorialsList {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: var(--size-spacing-4);

                        border-left: var(--size-spacing-1-5) dashed var(--colors-neutrals-450);

                        li {
                            width: 100%;
                            list-style: none;
                        }

                        .A_TutorialNavigationTutorialLink {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            min-height: var(--size-spacing-24);
                            box-sizing: border-box;
                            padding-inline: var(--size-spacing-12);

                            color: var(--colors-neutrals-450);
                            border-left: var(--size-spacing-1-5) solid transparent;
                            background: transparent;

                            transition:
                                color 0.15s ease,
                                background 0.15s ease,
                                border-color 0.15s ease;
                        }

                        .A_TutorialNavigationTutorialLink.is-current {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .O_TutorialMain {
        display: flex;
        min-width: 0;
        width: 60%;
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--size-spacing-80);
        margin-top: var(--size-spacing-56);

        .O_TutorialSection {
            display: flex;
            padding-bottom: var(--size-spacing-96);
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--size-spacing-32);
            border-bottom: 1.5px dashed var(--colors-neutrals-200);

            .A_TutorialTitle {
                display: flex;
                align-items: flex-end;
                align-self: stretch;
                width: fit-content;

                /* U_FontH3 */
                color: var(--colors-neutrals-900);
            }

            .A_TutorialText {
                display: inline-block;
                justify-content: center;
                align-items: flex-start;
                align-self: stretch;
                padding-right: 25.5%;
                box-sizing: border-box;
                width: 100%;

                /* U_FontB1 */
                color: var(--colors-neutrals-900);
            }

            .M_TutorialQuote {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 25.5%;
                box-sizing: border-box;
                width: 100%;
                gap: 8px;

                p {
                    position: relative;

                    display: inline-block;
                    padding: var(--size-spacing-20);
                    text-align: center;

                    /* U_FontS2 */
                    color: var(--colors-neutrals-900);

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        pointer-events: none;

                        background:
                            linear-gradient(black, black) top left,
                            linear-gradient(black, black) top right,
                            linear-gradient(black, black) bottom left,
                            linear-gradient(black, black) bottom right;

                        background-size: var(--size-spacing-6) var(--size-spacing-6);
                        background-repeat: no-repeat;
                    }
                }
            }

            .A_TutorialSingleImage {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                min-width: calc(3 * var(--min-width));
                gap: var(--size-spacing-12);
                align-self: stretch;
                flex: 1 0 0;

                img,
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    overflow: hidden;
                    border-radius: var(--size-radius-4);
                    border: 1px solid var(--colors-neutrals-200);
                }

                p {
                    display: inline-block;
                    align-items: flex-start;
                    align-self: stretch;
                    color: var(--colors-neutrals-450);
                }
            }

            .A_TutorialMultipleImage {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: var(--size-spacing-20);

                img,
                video {
                    height: auto;
                    aspect-ratio: 1/1;
                }
            }

            .C_TutorialTextList {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--size-spacing-8);
                counter-reset: item;
                padding-right: 25.5%;
                box-sizing: border-box;
                width: 100%;

                li {
                    display: inline-block;
                    align-items: flex-start;
                    align-self: stretch;
                    counter-increment: item;

                    /* U_FontB1 */
                    color: var(--colors-neutrals-900);

                    &::before {
                        content: counter(item) ".\A0";
                    }
                }
            }

            .W_TutorialCopyItem {
                position: relative;

                display: flex;
                padding: var(--size-spacing-16);
                box-sizing: border-box;
                width: 100%;
                align-items: flex-start;
                align-self: stretch;

                background: var(--colors-neutrals-0);

                /* U_FontC2-Code */
                color: var(--colors-neutrals-450);

                .A_TutorialCopyText {
                    display: block;
                    padding-right: var(--size-spacing-32);
                    box-sizing: border-box;
                    color: var(--colors-neutrals-450);
                    min-width: 0;
                    flex: 1;
                    overflow-x: auto;
                    white-space: nowrap;
                }

                .A_TutorialCopyButton {
                    position: absolute;
                    top: var(--size-spacing-14);
                    right: var(--size-spacing-14);
                    z-index: 2;

                    width: var(--size-spacing-32);
                    height: var(--size-spacing-32);

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: 50%;
                    background: var(--colors-neutrals-100);

                    .Q_TutorialCopyIcon {
                        width: var(--size-spacing-16);
                        height: var(--size-spacing-16);
                    }

                    &:hover {
                        opacity: 1;
                        background: var(--colors-neutrals-body);
                    }

                    &.is-copied {
                        background: var(--colors-neutrals-200);
                    }

                    &.is-copied:hover {
                        background: var(--colors-neutrals-200);
                    }
                }
            }

            .C_TutorialCopyList {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--size-spacing-16);
                align-self: stretch;
                box-sizing: border-box;
                width: 100%;
            }

            /* Код */
            .O_TutorialSingleCode {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: flex-start;
                align-content: flex-start;
                gap: var(--size-spacing-20);
                align-self: stretch;

                .W_TutorialSingleCodeExecution {
                    display: flex;
                    height: var(--size-spacing-272);
                    align-items: flex-start;
                    aspect-ratio: 1/1;

                    background-color: var(--colors-neutrals-0);

                    .A_TutorialSingleCodeExecutionCanvas {
                        display: flex;
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                        overflow: hidden;

                        border-radius: var(--size-radius-4);
                        border: var(--size-spacing-1) solid var(--colors-neutrals-200);
                    }
                }

                .O_TutorialSingleCodeTexts {
                    display: flex;
                    flex: 1;
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: var(--size-spacing-20);

                    .W_TutorialSingleCodeTextArea {
                        --code-line-number-gutter-padding: var(--size-spacing-8);
                        --code-line-number-gutter-width: calc(var(--size-spacing-12) * 4 + 2 * var(--code-line-number-gutter-padding));
                        position: relative;

                        display: flex;
                        width: 100%;
                        box-sizing: border-box;
                        align-items: flex-start;
                        align-self: stretch;
                        min-height: var(--size-spacing-272);
                        max-height: calc(2 * var(--size-spacing-272));
                        height: auto;

                        border-radius: var(--size-radius-4);
                        background: var(--colors-neutrals-0);
                        overflow: hidden;

                        .W_TutorialSingleCodeTextLayers {
                            position: relative;
                            flex: 1 1 auto;
                            min-width: 0;
                            min-height: var(--size-spacing-272);
                            max-height: calc(2 * var(--size-spacing-272));
                            overflow: hidden;
                        }

                        .A_TutorialSingleCodeTextHighlight,
                        .A_TutorialSingleCodeLineNumbers,
                        .W_TutorialSingleCodeTextRun {
                            font: inherit;
                            letter-spacing: inherit;
                            font-kerning: none;
                            line-height: 1.5;
                            tab-size: 2;
                        }

                        .A_TutorialSingleCodeTextHighlight {
                            position: absolute;
                            inset: 0;
                            z-index: 0;

                            min-height: var(--size-spacing-272);
                            max-height: calc(2 * var(--size-spacing-272));
                            height: auto;
                            width: 100%;
                            box-sizing: border-box;
                            margin: 0;
                            padding: var(--size-spacing-16);
                            /* padding-left: calc(var(--size-spacing-16) + var(--code-line-number-gutter-width)); */
                            padding-right: calc(3 * var(--size-spacing-32) + 3 * var(--size-spacing-12));
                            overflow: auto;
                            white-space: pre;
                            pointer-events: none;

                            color: var(--colors-neutrals-450);

                            /* scrollbar-width: none; */
                            /* Firefox */
                            /* -ms-overflow-style: none; */
                            /* старый Edge/IE */
                            /* &::-webkit-scrollbar {
                                width: 0;
                                height: 0;
                            } */
                            /* Chrome/Safari */


                            /* &::-webkit-scrollbar {
                                background: transparent;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: transparent;
                                border: none;
                            }

                            &::-webkit-scrollbar-corner {
                                background: transparent;
                            } */
                        }

                        .A_TutorialSingleCodeLineNumbers {
                            position: relative;
                            z-index: 1;
                            flex: 0 0 auto;
                            width: var(--code-line-number-gutter-width);
                            box-sizing: border-box;
                            margin: 0;
                            padding: var(--size-spacing-16) var(--code-line-number-gutter-padding);
                            overflow: hidden;
                            white-space: pre;
                            pointer-events: none;
                            text-align: right;
                            color: var(--colors-neutrals-450);
                            background: var(--colors-neutrals-0);
                            transform: translateY(0);
                            will-change: transform;
                            /* border-right: var(--size-spacing-2) solid var(--colors-neutrals-body); */

                            color: var(--colors-neutrals-200);
                        }

                        .W_TutorialSingleCodeTextRun {
                            position: relative;
                            z-index: 1;
                            border: 0;
                            outline: 0;
                            border-radius: 0;
                            appearance: none;
                            -webkit-appearance: none;

                            min-height: var(--size-spacing-272);
                            max-height: calc(2 * var(--size-spacing-272));
                            height: auto;
                            resize: none;
                            width: 100%;
                            box-sizing: border-box;
                            margin: 0;
                            padding: var(--size-spacing-16);
                            /* padding-left: calc(var(--size-spacing-16) + var(--code-line-number-gutter-width)); */
                            padding-right: calc(3 * var(--size-spacing-32) + 3 * var(--size-spacing-12));
                            overflow: auto;
                            white-space: pre;
                            /* pointer-events: none; */
                            /* color: var(--colors-neutrals-450); */

                            background: transparent;
                            color: transparent;
                            caret-color: var(--colors-neutrals-900);
                        }

                        .M_TutorialSingleCodeTextButtons {
                            position: absolute;
                            z-index: 2;
                            top: var(--size-spacing-14);
                            right: calc(var(--size-spacing-14) + var(--size-spacing-8));

                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: var(--size-spacing-8);

                            .A_TutorialSingleCodeTextButtonRunStop,
                            .A_TutorialSingleCodeTextButtonClean,
                            .A_TutorialSingleCodeTextButtonCopy {
                                width: var(--size-spacing-32);
                                height: var(--size-spacing-32);

                                display: flex;
                                justify-content: center;
                                align-items: center;

                                border-radius: 50%;
                                background: var(--colors-neutrals-100);

                                &:hover {
                                    opacity: 1;
                                    background: var(--colors-neutrals-body);
                                }
                            }

                            .A_TutorialSingleCodeTextButtonCopy {
                                &:hover {
                                    opacity: 1;
                                    background: var(--colors-neutrals-body);
                                }

                                &.is-copied {
                                    background: var(--colors-neutrals-200);
                                }

                                &.is-copied:hover {
                                    background: var(--colors-neutrals-200);
                                }
                            }

                            .Q_TutorialSingleCodeIconRun,
                            .Q_TutorialSingleCodeIconStop,
                            .Q_TutorialSingleCodeIconClean,
                            .Q_TutorialSingleCodeIconCopy {
                                display: flex;
                                width: var(--size-spacing-16);
                                height: var(--size-spacing-16);
                            }

                            .Q_TutorialSingleCodeIconStop {
                                display: none;
                            }
                        }
                    }

                    .A_TutorialSingleCodeTextDescription {
                        display: inline-block;
                        align-items: flex-start;
                        align-self: stretch;
                        color: var(--colors-neutrals-900);
                    }
                }

                &.is-running {
                    .O_TutorialSingleCodeTexts .W_TutorialSingleCodeTextArea .M_TutorialSingleCodeTextButtons .A_TutorialSingleCodeTextButtonRunStop {
                        .Q_TutorialSingleCodeIconRun {
                            display: none;
                        }

                        .Q_TutorialSingleCodeIconStop {
                            display: flex;
                        }
                    }
                }
            }

            .A_TutorialSingleCodeTextHighlight,
            .A_TutorialCopyText {
                .code-keyword {
                    color: var(--colors-brand-primary-FlowCyan);
                }

                .code-function {
                    color: var(--colors-brand-primary-DepthRose);
                }

                .code-string,
                .code-comment {
                    color: var(--colors-brand-primary-SeedGreen);
                }

                .code-number,
                .code-variable {
                    color: var(--colors-brand-primary-CoreSun);
                }

                .code-plain {
                    color: var(--colors-neutrals-450);
                }
            }

            .O_TutorialSingleCode--Large {
                flex-direction: column;

                .W_TutorialSingleCodeExecution {
                    border: var(--size-spacing-1-5) dashed var(--colors-neutrals-450);
                    width: 100%;
                    height: auto;
                    aspect-ratio: auto;
                    justify-content: center;
                    background-color: var(--colors-neutrals-body);
                    padding-block: var(--size-spacing-32);

                    .A_TutorialSingleCodeExecutionCanvas {
                        height: var(--size-spacing-416);
                        width: auto;
                        aspect-ratio: 1/1;
                        border-radius: var(--size-radius-4);
                        border: var(--size-spacing-1) solid var(--colors-neutrals-200);
                        background-color: var(--colors-neutrals-0);
                    }
                }
            }
        }
    }

    .A_TutorialButtonUp {
        position: sticky;
        top: var(--size-spacing-92);
        align-self: flex-start;

        display: flex;
        min-width: 0;
        width: 16%;
        padding-top: var(--size-spacing-56);
        padding-bottom: var(--size-spacing-96);
        box-sizing: border-box;
        padding-right: 5%;
        justify-content: flex-end;
        align-items: center;
        opacity: 0;

        visibility: hidden;
        pointer-events: none;
        transform: translateY(var(--size-spacing-8));
        transition:
            opacity 220ms ease,
            transform 220ms ease,
            visibility 0ms linear 220ms;

        &.is-visible {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transform: translateY(0);
            transition:
                opacity 220ms ease,
                transform 220ms ease,
                visibility 0ms;
        }
    }
}

/* m 4 -> 3 */
@media (max-width: 1368px) {
    .S_Tutorial {
        .O_TutorialMain {
            padding-right: var(--size-spacing-64);
            width: 70%;
        }

        .O_TutorialNavigation {
            width: 30%;
        }

        .A_TutorialButtonUp {
            display: none;
        }
    }
}

/* m 3 -> 2 */
@media (max-width: 1152px) {
    .S_Tutorial {

        &::before {
            display: none;
        }

        .O_TutorialNavigation {
            display: none;
        }

        .O_TutorialMain {
            padding-inline: var(--size-spacing-48);
            width: 100%;
        }
    }
}

/* m 2 -> 1 */
@media (max-width: 904px) {
    .S_Tutorial {
        .O_TutorialMain {

            .O_TutorialSection {
                .A_TutorialSingleImage {
                    min-width: calc(2 * var(--min-width));
                }

                .A_TutorialMultipleImage {
                    flex-wrap: wrap;
                }

                .A_TutorialText,
                .M_TutorialQuote,
                .C_TutorialTextList {
                    padding-right: 0;
                }

                .O_TutorialSingleCode {
                    flex-direction: column;

                    .W_TutorialSingleCodeExecution {
                        margin: auto;
                        height: auto;
                        width: 100%;
                        max-width: var(--size-spacing-272);
                        flex: 1;
                    }
                }

                .O_TutorialSingleCode--Large {
                    flex-direction: column;

                    .W_TutorialSingleCodeExecution {
                        max-width: none;
                        width: 100%;
                        border: none;

                        .A_TutorialSingleCodeExecutionCanvas {
                            margin: auto;
                            width: 100%;
                            height: 100%;
                            max-width: var(--size-spacing-416);
                            aspect-ratio: 1/1;
                        }
                    }
                }
            }
        }
    }
}

/* m 1 -> 0 */
@media (max-width: 428px) {
    .S_Tutorial {
        .O_TutorialMain {
            padding-inline: 4%;
            box-sizing: border-box;
            width: 100%;

            .O_TutorialSection {

                .A_TutorialSingleImage {
                    min-width: 0;
                }

                .A_TutorialMultipleImage {
                    flex-direction: column;
                }
            }
        }
    }
}