.S_Work {
    display: flex;
    flex-direction: column;
    padding-inline: 5dvw;
    box-sizing: border-box;
    width: 100%;
    padding-block: var(--size-spacing-56);
    padding-top: var(--size-spacing-20);
    align-items: flex-start;
    gap: var(--size-spacing-0);
    align-self: stretch;
    margin-top: var(--size-spacing-0);

    .C_WorkSquares {
        display: flex;
        flex-direction: row;
        height: var(--size-spacing-42);
        align-self: stretch;
        justify-content: space-between;

        p {
            transform: translateY(calc(-1 * var(--size-spacing-8)));
            /* U_FontH2 */
            color: var(--colors-neutrals-900);
        }
    }

    .O_Work {
        .W_WorkTitle {}
    }
}

/* m 4 -> 3 */
@media (max-width: 1368px) {}

/* m 3 -> 2 */
@media (max-width: 1152px) {}

/* m 2 -> 1 */
@media (max-width: 904px) {}

/* m 1 -> 0 */
@media (max-width: 428px) {
    .S_Main {}
}