@font-face {
  font-family: "KairosSansW06 CondMedium";
  src: url('../fonts/Kairos-Sans-W06-Cond-Medium.woff') format('woff'),
    url('../fonts/Kairos-Sans-W06-Cond-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url('../fonts/JetBrainsMono-Regular.ttf') format('ttf'),
    url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  /* src: url('../fonts/OpenSans-Regular.ttf') format('ttf'),
    url('../fonts/OpenSans-Regular.ttf') format('ttf'); */
  src: url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


/* Heading */
.U_FontH0 {
  /* U_FontH0 */
  color: var(--colors-neutrals-900);
  font-family: var(--font-KairosSans);
  font-size: 6.5rem;
  line-height: 100%;
  letter-spacing: -0.325rem;
  text-transform: uppercase;
}

.U_FontH0-NotUp {
  /* U_FontH0-Work */
  color: var(--colors-neutrals-900);
  font-family: var(--font-KairosSans);
  font-size: 6.5rem;
  line-height: 100%;
  letter-spacing: -0.325rem;
  text-transform: none;
}

.U_FontH1 {
  /* U_FontH1 */
  color: var(--colors-neutrals-900);
  font-family: var(--font-KairosSans);
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -0.14rem;
  text-transform: uppercase;
}

.U_FontH1-NotUp {
  /* U_FontH1 */
  color: var(--colors-neutrals-900);
  font-family: var(--font-KairosSans);
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -0.14rem;
  text-transform: none;
}

.U_FontH1-Mob {
  /* U_FontH1-Mob */
  color: var(--colors-neutrals-900);
  font-family: var(--font-KairosSans);
  font-size: 3.5rem;
  line-height: 100%;
  letter-spacing: -0.175rem;
  text-transform: uppercase;
}

.U_FontH1-Mob-NotUp {
  /* U_FontH1-Mob */
  color: var(--colors-neutrals-900);
  font-family: var(--font-KairosSans);
  font-size: 3.5rem;
  line-height: 100%;
  letter-spacing: -0.175rem;
  text-transform: none;
}

.U_FontH2 {
  /* U_FontH2 */
  color: var(--colors-neutrals-900);
  font-family: var(--font-KairosSans);
  font-size: 2.25rem;
  line-height: 110%;
  letter-spacing: -0.05625rem;
  text-transform: none;
}

.U_FontH3 {
  /* U_FontH3 */
  color: var(--colors-neutrals-900);
  font-family: var(--font-JetBrains);
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: -0.1rem;
  text-transform: none;
}

/* TODO  */
.U_FontH4 {
  /* U_FontH4 */
  color: var(--colors-neutrals-900);
  font-family: var(--font-OpenSans);
  font-size: 1.75rem;
  /* line-height: ?; TODO! */
  letter-spacing: -0.14rem;
  text-transform: none;
}

/* Subtitle */
.U_FontS1 {
  /* U_FontS1 */
  color: var(--colors-neutrals-900);
  font-family: var(--font-OpenSans);
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -0.0375rem;
  text-transform: none;
}

.U_FontS2 {
  /* U_FontS2 */
  color: var(--colors-neutrals-900);
  font-family: var(--font-JetBrains);
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -0.075px;
  text-transform: none;
}

.U_FontS3 {
  /* U_FontS3 */
  color: var(--colors-neutrals-0);
  font-family: var(--font-JetBrains);
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -0.075rem;
  text-transform: uppercase;
}

.U_FontB1 {
  /* U_FontB1 */
  color: var(--colors-neutrals-900);
  font-family: var(--font-OpenSans);
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0rem;
  text-transform: none;
}

.U_FontB2 {
  /* U_FontB2 */
  color: var(--colors-neutrals-0);
  font-family: var(--font-JetBrains);
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: -0.05625rem;
  text-transform: uppercase;
}

/* Caption */
.U_FontC1 {
  /* U_FontC1 */
  color: var(--colors-neutrals-900);
  font-family: var(--font-OpenSans);
  font-size: 1rem;
  font-style: normal;
  line-height: 145%;
  letter-spacing: 0rem;
  text-transform: none;
}

.U_FontC2 {
  /* U_FontC2 */
  color: var(--colors-neutrals-900);
  font-family: var(--font-JetBrains);
  font-size: 1rem;
  line-height: 145%;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
}

.U_FontC2-Code {
  /* U_FontC2-Code */
  color: var(--colors-neutrals-450);
  font-family: var(--font-JetBrains);
  font-size: 1rem;
  line-height: 170%;
  letter-spacing: -0.05rem;
  text-transform: none;
}

.U_FontF1 {
  /* U_FontF1 */
  color: var(--colors-neutrals-900);
  font-family: var(--font-OpenSans);
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: 0rem;
  text-transform: none;
}

.U_FontF2 {
  /* U_FontF2 */
  color: var(--colors-neutrals-900);
  font-family: var(--font-JetBrains);
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: -0.04375rem;
  text-transform: uppercase;
}

/* m 1 -> 0 */
@media (max-width: 428px) {

  .U_FontH0,
  .U_FontH0-Work,
  .U_FontH1 {
    font-size: 13vw !important;
  }
}