@import 'reset.css';
@import 'reset2.css';
@import 'fonts.css';
@import 'layout.css';
@import 'vars.css';
@import 'icons.css';
@import 'test.css';


html {
    background-color: var(--colors-neutrals-body);
    scroll-padding-top: 100px;
    /* Высота вашей фиксированной шапки */
    scroll-behavior: smooth;
    /* Плавная прокрутка (красиво) */
}

a {
    color: var(--colors-neutrals-900);
    cursor: pointer;
    link,
    visited,
    hover,
    active {
        color: var(--colors-neutrals-900);
    }
}

a:hover {
    opacity: var(--official-interaction-hover-opacity);
}

a:active {
    transform: scale(var(--official-interaction-link-active-transform));
}

a:focus {
    outline: none;
}

a:focus-visible {
    outline: var(--size-spacing-2) dashed var(--colors-neutrals-900);
    outline-offset: var(--size-spacing-2);
}


@import 'udf/quarks.css';
@import 'udf/atoms.css';
@import 'udf/molecules.css';
@import 'udf/wrappers.css';
@import 'udf/collections.css';
@import 'udf/organisms.css';
@import 'udf/superorganisms.css';
@import 'udf/udf.css';

@import 'sections/header.css';
@import 'sections/main.css';
@import 'sections/footer.css';

@import 'pages/handbook.css';
@import 'responsive.css';