@import 'reset.css';
@import 'reset2.css';
@import 'fonts.css';
@import 'layout.css';
@import 'vars.css';
@import 'utility.css';
@import 'test.css';


html {
    background-color: var(--colors-neutrals-body);
    scroll-padding-top: 100px;
    /* Высота вашей фиксированной шапки */
    scroll-behavior: smooth;
    /* Плавная прокрутка (красиво) */
}


@import 'udf/quarks.css';
@import 'udf/atoms.css';
@import 'udf/molecules.css';
@import 'udf/wrappers.css';
@import 'udf/collections.css';
@import 'udf/organisms.css';
@import 'udf/superorganisms.css';
@import 'udf/udf.css';

@import 'sections/header.css';
@import 'sections/main.css';
@import 'sections/intro.css';
@import 'sections/filter.css';
@import 'sections/next.css';
@import 'sections/footer.css';

@import 'pages/handbook.css';
@import 'responsive.css';