body {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
}

html {
  background-color: var(--colors-neutrals-body);
  scroll-padding-top: var(--size-spacing-92);
  scroll-behavior: smooth;

  /* Выделение текста */
  ::selection {
    background-color: var(--colors-neutrals-900-20);
    /* color: var(--colors-neutrals-body); */
  }

  :focus {
    outline: none;
  }

  :focus-visible {
    outline: var(--size-spacing-2) solid var(--colors-neutrals-900);
    outline-offset: var(--size-spacing-2);
  }
}

/* Sscrollbar */
/* Firefox */
*:not(html):not(body) {
  scrollbar-width: thin;
  scrollbar-color: var(--colors-neutrals-100) transparent;
}

/* Chrome / Edge / Safari */
*:not(html):not(body)::-webkit-scrollbar {
  width: var(--size-spacing-6);
  height: var(--size-spacing-6);
}

*:not(html):not(body)::-webkit-scrollbar-track {
  background: transparent;
}

*:not(html):not(body)::-webkit-scrollbar-thumb {
  background: var(--colors-neutrals-100);
  border-radius: 0;
}

*:not(html):not(body)::-webkit-scrollbar-thumb:hover {
  background: var(--colors-neutrals-100);
}

*:not(html):not(body)::-webkit-scrollbar-button {
  display: none;
}

*:not(html):not(body)::-webkit-scrollbar-corner {
  background: transparent;
}