body {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
}

html {
  background-color: var(--colors-neutrals-body);
  scroll-padding-top: var(--size-spacing-92);
  scroll-behavior: smooth;

  /* Выделение текста */
  ::selection {
    background-color: var(--colors-neutrals-900-80);
    color: var(--colors-neutrals-body);
  }
}

/* Sscrollbar */
/* Firefox */
*:not(html):not(body) {
  scrollbar-width: thin;
  scrollbar-color: var(--colors-neutrals-100) transparent;
}

/* Chrome / Edge / Safari */
*:not(html):not(body)::-webkit-scrollbar {
  width: var(--size-spacing-6);
  height: var(--size-spacing-6);
}

*:not(html):not(body)::-webkit-scrollbar-track {
  background: transparent;
}

*:not(html):not(body)::-webkit-scrollbar-thumb {
  background: var(--colors-neutrals-100);
  border-radius: 0;
}

*:not(html):not(body)::-webkit-scrollbar-thumb:hover {
  background: var(--colors-neutrals-100);
}

*:not(html):not(body)::-webkit-scrollbar-button {
  display: none;
}

*:not(html):not(body)::-webkit-scrollbar-corner {
  background: transparent;
}

tx-sl {
  display: inline;
  /* Сохраняем визуальный зазор, даже если HTML-сборка схлопнула пробелы рядом с тегом */
  margin-inline: 0.4em;
  padding-block: var(--size-spacing-2);
  padding-inline: var(--size-spacing-6);
  border-radius: var(--size-spacing-4);
  /* border: var(--size-spacing-1-5) dashed var(--colors-neutrals-200); */
  background: var(--colors-neutrals-150-60);

  white-space: normal;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  word-break: break-word;
  /* white-space: normal; */
  /* overflow-wrap: break-word; */

  /* U_FontC2-Code */
  color: var(--colors-neutrals-450);
  font-family: var(--font-JetBrains);
  font-size: 1rem;
  line-height: 170%;
  letter-spacing: -0.05rem;
  text-transform: none;
}