body {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
}

html {
  background-color: var(--colors-neutrals-body);
  scroll-padding-top: var(--size-spacing-100);
  scroll-behavior: smooth;

  ::selection {
    background-color: var(--colors-neutrals-900-80);
    color: var(--colors-neutrals-body);
  }
}

tx-sl {
  display: inline;
  padding-block: var(--size-spacing-2);
  padding-inline: var(--size-spacing-6);
  border-radius: var(--size-spacing-4);
  /* border: var(--size-spacing-1-5) dashed var(--colors-neutrals-200); */
  background: var(--colors-neutrals-150-60);

  white-space: normal;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  word-break: break-word;
  /* white-space: normal; */
  /* overflow-wrap: break-word; */

  /* U_FontC2-Code */
  color: var(--colors-neutrals-450);
  font-family: var(--font-JetBrains);
  font-size: 1rem;
  line-height: 170%;
  letter-spacing: -0.05rem;
  text-transform: none;
}