button,
input,
textarea,
select {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition: opacity 0.15s ease;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}