/* @media (max-width: 1368px) {

  .A_HeaderLogoText {
    display: none;
  }

  .A_HeaderLogoMin {
    display: block;
  }
}

@media (max-width: 1152px) {

  .А_HeaderBurgerButtom {
    display: flex;
  }
} */