/* Buttom */
.U_ButtonIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: none;
  background: transparent;

  flex-shrink: 0;
  cursor: pointer;
  outline: none;

  transition: opacity 0.15s ease, transform 0.1s ease;
}

.U_ButtonIcon:hover {
  opacity: var(--official-interaction-hover-opacity);
}

.U_ButtonIcon:active {
  transform: scale(var(--official-interaction-button-active-transform));
}

.Q_ButtonIcon:focus {
  outline: none;
}

.U_ButtonIcon:focus-visible {
  outline: var(--size-spacing-2) dashed var(--colors-neutrals-900);
  outline-offset: var(--size-spacing-2);
}


/* A Link */
.U_ALink {
  color: var(--colors-neutrals-900);
  cursor: pointer;
  transition: opacity 0.15s ease, transform 0.1s ease;

  link,
  visited,
  hover,
  active {
    color: var(--colors-neutrals-900);
  }
}

.U_ALink:hover {
  opacity: var(--official-interaction-hover-opacity);
}

.U_ALink:active {
  transform: scale(var(--official-interaction-link-active-transform));
}

.U_ALink:focus {
  outline: none;
}

.U_ALink:focus-visible {
  outline: var(--size-spacing-2) dashed var(--colors-neutrals-900);
  outline-offset: var(--size-spacing-2);
}


/* Img Icon */
.U_ImgIcon {
  aspect-ratio: 1;

  object-fit: contain;
  display: block;
}

.U_ImgIconSizeH {
  height: var(--official-size-icons);
  aspect-ratio: 1;

  object-fit: contain;
  display: block;
}

.U_ImgIconFullH {
  height: 100%;
  aspect-ratio: 1;

  object-fit: contain;
  display: block;
}

.U_ImgIconSizeW {
  width: var(--official-size-icons);
  aspect-ratio: 1;

  object-fit: contain;
  display: block;
}

.U_ImgIconFullW {
  width: 100%;
  aspect-ratio: 1;

  object-fit: contain;
  display: block;
}