.O_Alert {
    display: flex;
    flex-direction: row;
    flex: 1;
    max-width: var(--size-spacing-424);
    padding: var(--size-spacing-16);
    margin-inline: var(--size-spacing-16);
    align-items: flex-start;
    /* gap: var(--size-spacing-8); */

    border-radius: var(--size-radius-4);
    border: var(--size-spacing-1-5) dashed var(--colors-neutrals-450);
    background: var(--colors-neutrals-0);

    .A_AlertDescription {
        display: flex;
        align-items: center;
        flex: 1 0 0;

        color: var(--colors-neutrals-450);
    }
}