.M_BrightTitle {
    padding: var(--size-spacing-32) 5%;
    align-items: center;
    align-self: stretch;
    text-align: center;

    background:
        linear-gradient(0deg,
            var(--colors-brand-rainbow-subtrate)),
        linear-gradient(90deg,
            var(--colors-brand-rainbow-loop));
    background-blend-mode: plus-lighter, normal;

    background-size:
        100% 100%,
        200% 100%;
    background-position:
        0 0,
        0 0;
    background-repeat: repeat;

    background-blend-mode: plus-lighter, normal;
    animation: titleRainbowFlow 4s linear infinite;

    .A_BrightTitleText {
        width: 100%;
        min-width: var(--min-width);
        max-width: var(--max-width);
        margin: auto;

        /* U_FontH0 */
        color: var(--colors-neutrals-900);
    }
}

@keyframes titleRainbowFlow {
    from {
        background-position:
            0 0,
            0% 0;
    }

    to {
        background-position:
            0 0,
            200% 0;
    }
}

.W_About {
    display: flex;
    flex-direction: row;
    padding-block: 60px;
    padding-inline: 5%;
    box-sizing: border-box;
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: auto;
    align-items: flex-start;
    align-self: stretch;
    gap: 50px;

    .A_AboutH {
        flex: 0 0 clamp(200px, 33%, 400px);
    }

    A_AboutT {
        flex: 1;
        min-width: 0;
        /* важно для переноса текста */
    }
}

.A_AbTexLn,
.A_AbTexLnMob {
    padding-block: 70px;
    padding-inline: 5%;
    text-align: justify;
    text-align-last: justify;
    box-sizing: border-box;
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: auto;
}

.A_AbTexLnMob {
    display: none;
}

@media (max-width: 900px) {
    .W_About {
        flex-direction: column;
    }

    .A_AbTexLnMob {
        display: flex;
        text-align: center;
        text-align-last: center;
    }

    .A_AbTexLn {
        display: none;
    }
}

/* m 4 -> 3 */
@media (max-width: 1368px) {}

/* m 3 -> 2 */
@media (max-width: 1152px) {

    .A_BrightTitle,
    .A_AbTexLn {
        /* U_FontH1 */
        color: var(--colors-neutrals-900);
        font-family: var(--font-KairosSans);
        font-size: 4rem;
        line-height: 100%;
        letter-spacing: -0.14rem;
        text-transform: uppercase;

        padding-inline: 5%;
    }
}

/* m 2 -> 1 */
@media (max-width: 904px) {}

/* m 1 -> 0 */
@media (max-width: 428px) {
    .A_BrightTitle {
        /* U_FontH1-Mob */
        color: var(--colors-neutrals-900);
        font-family: var(--font-KairosSans);
        font-size: 3.5rem;
        line-height: 100%;
        letter-spacing: -0.175rem;
        text-transform: uppercase;

        padding-inline: 4%;
    }
}
