.S_Header {
    position: fixed;

    display: flex;
    flex-direction: column;
    isolation: isolate;
    top: 0;
    left: 0;
    width: 100%;
    height: min-content;
    /* background-color: transparent // Прозрачный */
    /* background-color: var(--colors-neutrals-body-01); */
    /* backdrop-filter: blur(var(--size-spacing-50)); */
    align-items: center;
    z-index: 256;

    &>* {
        position: relative;
        z-index: 2;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;

        box-shadow: 0 0 var(--size-spacing-8) var(--colors-neutrals-900-20);
        background: var(--colors-neutrals-body);
        pointer-events: none;
    }

    &.is-open {
        &::before {
            background: var(--colors-neutrals-body);
        }

        .C_HeaderAll {
            .S_HeaderSearch {
                display: flex;
            }

            .O_HeaderNavigation {
                .M_HeaderSearchBar:not(.is-filled) {
                    .Q_HeaderCrossButton {
                        display: flex;
                    }
                }
            }
        }
    }

    .C_HeaderAll {
        position: relative;
        z-index: 1;

        display: flex;
        flex-direction: column;
        min-width: var(--min-width);
        max-width: var(--max-width);
        margin: auto;
        padding-inline: 5%;
        box-sizing: border-box;
        width: 100%;
        height: min-content;

        .O_HeaderNavigation {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            column-gap: var(--size-spacing-80);
            height: var(--size-spacing-40);
            padding-top: var(--size-spacing-40);
            padding-bottom: var(--size-spacing-12);
            align-items: center;
            align-content: center;

            .A_HeaderLogo {
                height: 100%;

                a {
                    display: flex;
                    align-items: center;
                    height: 100%;
                }

                img {
                    height: 100%;
                    width: auto;
                    display: block;
                }

                .A_HeaderLogoMin {
                    display: none;
                }
            }

            .O_HeaderHandbookNavigation {
                display: flex;
                flex-direction: row;
                height: 100%;
                align-items: center;
                column-gap: var(--size-spacing-20);

                .A_HeaderBurgerButton,
                .A_HeaderCrossButton {
                    display: none;
                    height: 100%;
                    aspect-ratio: 1;
                    border-radius: var(--size-radius-4);
                    background: var(--colors-neutrals-150-20);
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                }

                .C_HeaderLinks {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: var(--size-spacing-16);

                    a {
                        /* U_FontC2 */
                        color: var(--colors-neutrals-900);
                    }
                }

                .M_HeaderSearchBar {
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    padding: var(--size-spacing-0-5) var(--size-spacing-1);
                    /* min-width: 246px; */
                    max-width: 388px;
                    justify-content: space-between;
                    align-items: center;
                    /* align-self: stretch; */
                    box-sizing: border-box;
                    background: var(--colors-neutrals-150-20);

                    input {
                        /* U_FontC2 */
                        padding-inline: var(--size-spacing-14);
                        box-sizing: border-box;
                        width: 100%;
                        color: var(--colors-neutrals-900);
                    }

                    input::placeholder {
                        color: var(--colors-neutrals-900);
                        opacity: var(--official-no-interaction-opacity);
                    }

                    .Q_HeaderSearchIcon {
                        display: none;
                        padding-inline: var(--size-spacing-8);
                        opacity: 1;
                    }

                    .Q_HeaderCrossButton {
                        display: flex;
                        padding-inline: var(--size-spacing-8);
                        opacity: var(--official-no-interaction-opacity);
                    }

                    &.is-filled {
                        .Q_HeaderSearchIcon {
                            display: flex;
                            opacity: 1;
                        }

                        .Q_HeaderCrossButton {
                            display: none;
                        }
                    }
                }
            }

            .W_HeaderAdditionalFunctionality {
                display: flex;
                flex-direction: row;
                height: 100%;
                align-items: center;
                gap: var(--size-spacing-12);
                justify-content: space-between;

                a {
                    /* U_FontC2 */
                    color: var(--colors-neutrals-900);
                }

                .M_HeaderChangeThemeButton {
                    display: inline-flex;
                    padding: var(--size-spacing-4);
                    width: var(--size-spacing-68);
                    height: 100%;
                    align-items: center;
                    justify-content: flex-start;

                    border-radius: var(--size-radius-18);
                    background: var(--colors-neutrals-150-20);

                    .A_HeaderChangeThemeCircle {
                        position: relative;

                        display: flex;
                        height: 100%;
                        width: auto;
                        aspect-ratio: 1/1;
                        align-items: center;
                        justify-content: center;

                        border-radius: 50%;
                        background: var(--colors-neutrals-0);

                        transition:
                            transform 0.25s ease,
                            background 0.25s ease;

                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;

                            width: 65%;
                            height: 65%;
                            transform: translate(-50%, -50%);
                            object-fit: contain;

                            pointer-events: none;
                        }

                        .Q_HeaderChangeThemeMoon {
                            display: none;
                        }
                    }

                    &.is-dark {
                        .A_HeaderChangeThemeCircle {
                            background: var(--colors-neutrals-900);
                            transform: translateX(28px);

                            .Q_HeaderChangeThemeSun {
                                display: none;
                            }

                            .Q_HeaderChangeThemeMoon {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }

        .O_HeaderMenuNavigation {
            display: none;
            flex-direction: column;
            width: 100%;
            height: min-content;
            padding-bottom: var(--size-spacing-8);

            .C_HeaderMenuLinks,
            .C_HeaderMenuAdditionalFunctionality {
                display: none;
            }

            nav {
                display: flex;
                flex-direction: column;
                width: 100%;

                a,
                .A_HeaderMenuChangeThemeButton {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: var(--size-spacing-40);
                    box-sizing: border-box;
                    position: relative;
                    border-bottom: var(--size-spacing-1) solid var(--colors-neutrals-900);

                    /* U_FontC2 */
                    color: var(--colors-neutrals-900);
                }
            }
        }

        .S_HeaderSearch {
            /* TODO display: none; */
            display: none;
            flex-direction: column;
            box-sizing: border-box;
            width: 100%;
            padding-top: var(--size-spacing-24);
            padding-bottom: var(--size-spacing-92);
            row-gap: var(--size-spacing-36);

            .W_HeaderSearchField {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: var(--size-spacing-12);

                .M_HeaderSearchFieldBar {
                    display: flex;
                    flex-direction: row;
                    padding-inline: var(--size-spacing-32);
                    box-sizing: border-box;
                    width: 100%;
                    height: var(--size-spacing-72);
                    column-gap: var(--size-spacing-32);
                    justify-content: space-between;
                    align-items: center;
                    align-self: stretch;

                    background: var(--colors-neutrals-150-20);

                    input {
                        width: 100%;
                        flex: 1;
                        min-width: 0;

                        /* U_FontC2 */
                        color: var(--colors-neutrals-900);
                    }

                    .A_HeaderSearchFieldButton {
                        height: var(--size-spacing-32);
                        width: auto;
                        aspect-ratio: 1/1;

                        .Q_HeaderSearchField {
                            height: 100%;
                            width: 100%;

                            opacity: var(--official-no-interaction-opacity);
                        }
                    }

                    &.is-filled {
                        .Q_HeaderSearchField {
                            opacity: 1;
                        }
                    }
                }

                .C_HeaderSearchTags {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    align-content: flex-start;
                    gap: var(--size-spacing-12);

                    .A_HeaderSearchTagPrimary,
                    .A_HeaderSearchTagSecondary {
                        display: flex;
                        padding: var(--size-spacing-4) var(--size-spacing-8);
                        justify-content: center;
                        align-items: center;

                        border-radius: var(--size-spacing-4);
                        background: var(--colors-neutrals-body-01);

                        /* U_FontC2 */
                        color: var(--colors-neutrals-900);
                    }

                    .A_HeaderSearchTagPrimary {
                        border: 1.5px dashed var(--colors-neutrals-900);
                    }

                    .A_HeaderSearchTagSecondary {
                        border: 1.5px dashed var(--colors-neutrals-200);
                    }
                }
            }

            .W_HeaderSearchTutorials,
            .W_HeaderSearchWorks {
                display: flex;
                flex-direction: column;

                .W_HeaderSearchTutorialsTitle,
                .W_HeaderSearchWorksTitle {
                    display: flex;
                    padding-block: var(--size-spacing-32);
                    justify-content: space-between;
                    align-items: flex-end;

                    border-bottom: 1.5px dashed var(--colors-neutrals-900, #1F1F1F);

                    .M_HeaderSearchTutorialsFound {
                        display: inline;

                        .A_HeaderSearchTutorialsCounter {
                            /* U_FontS2 */
                            color: var(--colors-neutrals-900);
                        }
                    }

                    a {
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        text-decoration-skip-ink: auto;
                        text-decoration-thickness: auto;

                        color: var(--colors-neutrals-450);
                    }
                }

                .C_HeaderSearchTutorials {
                    position: relative;

                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: flex-start;
                    overflow: hidden;

                    >li {
                        width: 100%;
                    }

                    .O_HeaderSearchTutorial {
                        position: relative;
                        isolation: isolate;

                        display: flex;
                        flex-direction: row;
                        padding: var(--size-spacing-36);
                        align-items: baseline;
                        gap: var(--size-spacing-96);
                        align-self: stretch;
                        justify-content: space-between;
                        box-sizing: border-box;
                        width: 100%;
                        border-bottom: var(--size-spacing-1-5) solid var(--colors-neutrals-450);

                        will-change: transform;
                        transition:
                            transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
                            opacity 0.2s ease;

                        .W_HeaderSearchTutorialHangle {
                            display: flex;
                            min-width: 0px;
                            max-width: var(--size-spacing-704);
                            flex-direction: column;
                            align-items: flex-start;
                            flex: 1 0 0;

                            .M_HeaderSearchTutorialSubtitle {
                                display: flex;

                                /* U_FontC2 */
                                color: var(--colors-neutrals-900);
                            }

                            .A_HeaderSearchTutorialTitle {
                                display: flex;

                                /* U_FontH3 */
                                color: var(--colors-neutrals-900);
                            }
                        }

                        .W_HeaderSearchTutorialAboute {
                            min-width: 0px;
                            max-width: var(--size-spacing-780);
                            flex: 1 0 0;
                            align-self: stretch;
                            overflow: hidden;
                            max-height: 3em;
                            line-height: 150%;

                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            line-clamp: 2;

                            /* U_FontB1 */
                            color: var(--colors-neutrals-900);
                        }

                        .M_HeaderSearchTutorialPointer {
                            position: relative;

                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                        }

                        &>* {
                            position: relative;
                            z-index: 2;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            z-index: 0;
                            opacity: 0.3;

                            background:
                                linear-gradient(0deg,
                                    var(--colors-brand-rainbow-subtrate)),
                                linear-gradient(90deg,
                                    var(--colors-brand-rainbow));

                            /* background-size: 200% 100%; */
                            /* background-position: 100% 0; */
                            transform: scaleX(0);
                            transform-origin: left;
                            transition: transform 0.3s ease-out;
                            /* background-position 0.6s ease; */
                            filter: saturate(1.2) brightness(1.05);

                            mix-blend-mode: plus-lighter;
                        }

                        &:hover,
                        &:active {
                            opacity: 1;
                            transform: none;
                            box-shadow: none;
                        }

                        &:hover {
                            transform: scale(1.01);
                        }

                        &:active {
                            transform: scale(1);
                        }

                        &:hover::before {
                            opacity: 1;
                            transform: scaleX(1);
                        }

                        &.NotActiveTutorial {

                            &:hover,
                            &:active {
                                opacity: 1;
                                transform: none;
                                box-shadow: none;
                            }

                            &::before {
                                filter: grayscale(1) saturate(0.15) brightness(0.95);
                                pointer-events: none;
                            }
                        }

                        &.NoResultsTutorials {
                            display: none;
                            border-bottom: var(--size-spacing-1) solid var(--colors-neutrals-450);
                        }
                    }
                }

                .C_HeaderSearchWorks {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

.S_Header--Landing {
    &::before {
        box-shadow: none;
        backdrop-filter: blur(var(--size-spacing-inf));
        background: none;
    }
}

/* m 4 -> 3 */
@media (max-width: 1532px) {
    .S_Header .C_HeaderAll .O_HeaderNavigation .A_HeaderLogo {
        .A_HeaderLogoText {
            display: none;
        }

        .A_HeaderLogoMin {
            display: block;
        }
    }
}

/* m 3 -> 2 */
@media (max-width: 1180px) {
    .S_Header {
        /* &::before {
            background: linear-gradient(0deg,
                    var(--colors-brand-rainbow-subtrate)),
                linear-gradient(90deg,
                    var(--colors-brand-rainbow));

            filter: saturate(1.2) brightness(1.05);
            mix-blend-mode: plus-lighter;
        } */

        .C_HeaderAll {
            .O_HeaderNavigation {
                column-gap: var(--size-spacing-8);

                .O_HeaderHandbookNavigation {
                    column-gap: var(--size-spacing-8);

                    .C_HeaderLinks {
                        display: none;
                    }

                    .A_HeaderBurgerButton {
                        display: flex;
                    }
                }
            }

            .O_HeaderMenuNavigation .C_HeaderMenuLinks {
                display: flex;
            }
        }
    }
}

@media (max-width: 904px) {
    .S_Header {
        .C_HeaderAll {
            .O_HeaderNavigation {
                .W_HeaderAdditionalFunctionality {
                    display: none;
                }
            }

            .O_HeaderMenuNavigation .C_HeaderMenuAdditionalFunctionality {
                display: flex;
            }
        }
    }
}

/* m 2 -> 1 */
@media (max-width: 428px) {
    .S_Header {
        .C_HeaderAll {
            padding-inline: 4%;

            .O_HeaderNavigation {
                flex-direction: column;
                row-gap: var(--size-spacing-16);
                padding-block: var(--size-spacing-32);
                height: min-content;
                align-items: center;
                width: 100%;

                .A_HeaderLogo {

                    /* height: clamp(var(--size-spacing-4), var(--size-spacing-32), 10%); */
                    width: 100%;

                    .A_HeaderLogoText {
                        display: block;
                        width: 100%;
                    }

                    .A_HeaderLogoMin {
                        display: none;
                    }
                }

                .O_HeaderHandbookNavigation {
                    width: 100%;
                    height: var(--size-spacing-40);
                    justify-content: space-between;

                    .M_HeaderSearchBar {
                        width: 100%;
                    }
                }
            }
        }
    }
}