.O_Intro {
  display: flex;
  flex-direction: column;
  padding-inline: 5dvw;
  box-sizing: border-box;
  width: 100%;
  padding-block: var(--size-spacing-56);
  padding-top: var(--size-spacing-20);
  align-items: flex-start;
  gap: var(--size-spacing-0);
  align-self: stretch;
  margin-top: var(--size-spacing-0);

  .C_IntroRainSquares,
  .C_IntroRainSquaresTutorial {
    display: flex;
    flex-direction: row;
    height: var(--size-spacing-42);
    align-self: stretch;
    justify-content: space-between;
    transform: translateY(calc(-1 * var(--size-spacing-8)));

    /* U_FontH2 */
    color: var(--colors-neutrals-900);
  }

  .C_IntroRainSquaresTutorial {
    color: var(--colors-neutrals-200);
  }

  .C_IntroHeading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--size-spacing-12);
    column-gap: var(--size-spacing-80);
    align-self: stretch;
    flex-wrap: wrap;
    margin-bottom: var(--size-spacing-8);

    .A_IntroHeadingAbout {
      color: var(--colors-neutrals-450);
    }

    .A_IntroHeadingApdate {
      color: var(--colors-neutrals-200);
      text-align: right;
      align-self: stretch;
    }
  }

  .A_IntroHeading {
    display: flex;
    align-items: flex-end;
    align-self: stretch;
    margin-bottom: var(--size-spacing-32);

    /* U_FontH0 */
    color: var(--colors-neutrals-900);
  }

  .A_IntroHeadingTutorial {
    display: flex;
    align-items: flex-end;
    align-self: stretch;
    margin-bottom: var(--size-spacing-72);

    /* U_FontH1 */
    color: var(--colors-neutrals-900);
  }

  .O_IntroFooter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    row-gap: var(--size-spacing-36);
    column-gap: var(--size-spacing-132);
    align-self: stretch;
    justify-content: space-between;

    .A_IntroFooterText {
      display: flex;
      align-items: flex-end;
      align-content: flex-end;
      gap: var(--size-spacing-24);
      align-self: stretch;
      flex-wrap: wrap;
      max-width: 928px;

      /* U_FontS1 */
      color: var(--colors-neutrals-900);
    }

    .C_IntroTutorialTags {
      display: flex;
      align-items: center;
      align-content: center;
      gap: var(--size-spacing-8);
      align-self: stretch;
      flex-wrap: wrap;

      .A_IntroTutorialTagPrimary,
      .A_IntroTutorialTagSecondary {
        display: flex;
        padding: var(--size-spacing-4) var(--size-spacing-8);
        justify-content: center;
        align-items: center;
        border-radius: var(--size-spacing-4);

        /* U_FontC2 */
        color: var(--colors-neutrals-900);
      }

      .A_IntroTutorialTagPrimary {
        border: 1.5px dashed var(--colors-neutrals-900);
      }

      .A_IntroTutorialTagSecondary {
        border: 1.5px dashed var(--colors-neutrals-200);
      }
    }

    .O_IntroRight {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;
      gap: var(--size-spacing-12, 12px);
      flex-wrap: wrap;

      .A_IntroButtonsAuthor {
        display: flex;
        align-items: flex-start;

        /* U_FontC2 */
        color: var(--colors-neutrals-900);
      }
    }

    .O_IntroButtons {
      display: flex;
      flex-direction: row;
      width: min-content;
      align-items: flex-end;
      align-content: flex-end;
      gap: var(--size-spacing-16);

      .M_IntroAddTutor {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--size-spacing-212);
        height: var(--size-spacing-46);
        max-height: var(--size-spacing-50);
        margin: var(--size-radius-4) var(--size-radius-12);
        justify-content: center;
        align-items: center;
        gap: var(--size-spacing-8);
        flex-shrink: 0;
        border: var(--size-spacing-1) solid var(--colors-neutrals-900);
        background: var(--colors-neutrals-body-01);

        /* U_FontC2 */
        color: var(--colors-neutrals-900);
      }

      .A_IntroShare {
        display: flex;
        align-items: center;
        height: var(--size-spacing-48);
      }
    }
  }
}

/* m 4 -> 3 */
@media (max-width: 1368px) {}

/* m 3 -> 2 */
@media (max-width: 1152px) {

  /* H0 -> H1 */
  .A_IntroHeading {
    /* U_FontH1 */
    color: var(--colors-neutrals-900);
    font-family: var(--font-KairosSans);
    font-size: 4rem;
    line-height: 100%;
    letter-spacing: -0.14rem;
    text-transform: uppercase;
  }

  /* S1 -> B1 */
  .A_IntroFooterText {
    /* U_FontB1 */
    color: var(--colors-neutrals-900);
    font-family: var(--font-OpenSans);
    font-size: 1.125rem;
    line-height: 150%;
    letter-spacing: 0rem;
    text-transform: none;
  }
}

/* m 2 -> 1 */
@media (max-width: 904px) {
  .O_Intro {
    padding-inline: 4dvw;
    box-sizing: border-box;
    width: 100%;
    padding-block: var(--size-spacing-24);
    padding-top: var(--size-spacing-4);
    margin-top: var(--size-spacing-0);

    .C_IntroRainSquares {
      color: var(--colors-neutrals-200);
    }

    .O_IntroFooter {
      flex-direction: column;
      align-items: flex-start;

      .O_IntroButtons {
        flex-wrap: wrap;
        width: auto;
        height: auto;
      }
    }

    .A_IntroHeading {
      margin-bottom: var(--size-spacing-24);
    }

    .A_IntroHeadingTutorial {
      margin-bottom: var(--size-spacing-36);
    }
  }

  /* H0 (H1) -> H1-mob */
  .A_IntroHeading,
  .A_IntroHeadingTutorial {
    /* U_FontH1-Mob */
    color: var(--colors-neutrals-900);
    font-family: var(--font-KairosSans);
    font-size: 3.5rem;
    line-height: 100%;
    letter-spacing: -0.175rem;
    text-transform: uppercase;
  }

  /* S1 (B1) -> S1 */
  .A_IntroFooterText {
    /* U_FontS1 */
    color: var(--colors-neutrals-900);
    font-family: var(--font-OpenSans);
    font-size: 1.5rem;
    line-height: 130%;
    letter-spacing: -0.0375rem;
    text-transform: none;
  }
}