.S_Main {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: min-content;
    min-width: 88px;
    width: 100%;
    gap: var(--size-spacing-0);
    background-color: var(--colors-neutrals-body);
    
}

/* m 4 -> 3 */
@media (max-width: 1368px) {}

/* m 3 -> 2 */
@media (max-width: 1152px) {}

/* m 2 -> 1 */
@media (max-width: 904px) {}

/* m 1 -> 0 */
@media (max-width: 428px) {
    .S_Main {}
}